<div class="{{CSS_PREFIX}}popup {{CSS_PREFIX}}popup-detail">
  <div class="{{CSS_PREFIX}}popup-container">
    <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}section-header">
        <span class="{{CSS_PREFIX}}resource-name">{{resource.name}}</span>
            <a class="{{CSS_PREFIX}}resource-add-assignees" data-toggle="modal" href="" data-resource-name="{{resource.name}}" data-resource-id="{{resource.id}}">+ Add collaborator</a>
    </div>
    <div class="{{CSS_PREFIX}}section-detail col-sm-6">
        {{#each teams}}
            <div class="{{CSS_PREFIX}}popup-detail-item"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}calendar-dot" style="background-color: {{bgColor}}"></span><span class="{{CSS_PREFIX}}content">{{name}}</span></div>
        {{/each}}
    </div>
    <div class="{{CSS_PREFIX}}section-button">
      <button class="{{CSS_PREFIX}}popup-edit-resource"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-edit"></span><span class="{{CSS_PREFIX}}content">{{{popupEdit-tmpl}}}</span></button>
      <div class="{{CSS_PREFIX}}popup-vertical-line"></div>
      <button class="{{CSS_PREFIX}}popup-delete-resource"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-trash"></span><span class="{{CSS_PREFIX}}content">{{{popupDelete-tmpl}}}</span></button>
    </div>
  </div>
  <div class="{{CSS_PREFIX}}popup-top-line" style="background-color: {{resource.bgColor}}"></div>
  <div id="{{CSS_PREFIX}}popup-arrow" class="{{CSS_PREFIX}}popup-arrow {{CSS_PREFIX}}arrow-left">
    <div class="{{CSS_PREFIX}}popup-arrow-border">
        <div class="{{CSS_PREFIX}}popup-arrow-fill"></div>
    </div>
  </div>
</div>
