<div class="{{CSS_PREFIX}}popup {{CSS_PREFIX}}popup-detail">
  <div class="{{CSS_PREFIX}}popup-container">
    <div class="{{CSS_PREFIX}}popup-section {{CSS_PREFIX}}section-header">
      <span class="{{CSS_PREFIX}}schedule-title">{{team.name}}</span>
      <a class="{{CSS_PREFIX}}resource-add-assignees" data-toggle="modal" href="" data-resource-name="{{team.name}}" data-resource-id="{{team.id}}">+ Add collaborator</a>
    </div>
    <div class="{{CSS_PREFIX}}section-detail">
        {{#each resources}}
              <div class="{{CSS_PREFIX}}popup-detail-item {{CSS_PREFIX}}popup-detail-item-indent"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-user-b"></span><span class="{{CSS_PREFIX}}content">{{name}}</span></div>
        {{/each}}
    </div>
    <div class="{{CSS_PREFIX}}section-button">
      <button class="{{CSS_PREFIX}}popup-edit-team"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-edit"></span><span class="{{CSS_PREFIX}}content">{{{popupEdit-tmpl}}}</span></button>
      <div class="{{CSS_PREFIX}}popup-vertical-line"></div>
      <button class="{{CSS_PREFIX}}popup-delete-team"><span class="{{CSS_PREFIX}}icon {{CSS_PREFIX}}ic-trash"></span><span class="{{CSS_PREFIX}}content">{{{popupDelete-tmpl}}}</span></button>
    </div>
  </div>
  <div class="{{CSS_PREFIX}}popup-top-line" style="background-color: {{team.bgColor}}"></div>
  <div id="{{CSS_PREFIX}}popup-arrow" class="{{CSS_PREFIX}}popup-arrow {{CSS_PREFIX}}arrow-left">
    <div class="{{CSS_PREFIX}}popup-arrow-border">
        <div class="{{CSS_PREFIX}}popup-arrow-fill"></div>
    </div>
  </div>
</div>
